# Ignorar las credenciales
keys.json
package-locjk.json
package.json
# Ignorar dependencias de Node.js
node_modules/

# Ignorar archivos de configuración del sistema
.DS_Store
Thumbs.db

# Ignorar logs y archivos temporales
*.log
*.tmp
